{% extends "base.html" %}

{% block title %}
    Welcome!
{% endblock title %}


{% block customscripts %}
{% load static %}
<link rel="stylesheet" href="{% static "css/animation.css" %}"/>
{% endblock customscripts %}


{% block content %}

<div class="position-static top-50 start-50 translate-middle">
    
    <a href="#" class="intro-banner-vdo-play-btn pinkBg">
        <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
        <span class="ripple pinkBg"></span>
        <span class="ripple pinkBg"></span>
        <span class="ripple pinkBg"></span>
    </a>    

</div>

    <h1 class="display-3 text-center">Welcome to moll.re!</h1>
    <p class="text-center">Access the true content of this page through the site page. Enjoy!</p>

{{ media_url }}
{% endblock content %}