{% extends "physics/base.html" %}


{% block pcontent %}
    <h1 class="display-3">Physical doodling</h1>
    {% if post_list %}
        {% for post in post_list %}
            <a href="/physics/{{ post.url }}" class="card mb-3 overflow-hidden" style="color: inherit; text-decoration: none;">
                
                <div class="card-body">
                    <div class="card-title justify-content-between">
                        <h4>{{ post.title }}</h4>
                        <small>{{ post.date|date}}</small>
                    </div>

                    <p class="mb-1">{{ post.content|safe }}</p>
                    Topics: 
                    {% for t in post.topics %}
                        <span class="badge bg-primary">{{ t }}</span>
                    {% endfor %}
                </div>

            </a>
        {% endfor %}

    {% else %}
        <p>No posts created yet.</p>
    {% endif %}
{% endblock pcontent %}


