{% extends "physics/base.html" %}



{% block content %}
    <div class="d-flex justify-content-between">
        <h1 class="display-3">{{ title }}</h1>
        <div class="align-self-center">
            {% include 'physics/postnav_macro.html' with posts=toplinks %}
        </div>
    </div>
    
    
    <p class="text-muted">{{ date}}</p>
    {% for t in topics %}
        <span class="badge bg-secondary">{{ t }}</span>
    {% endfor %}
    <hr/>
    <p> {{ content|safe }}</p>
    Viewed <span class="badge bg-secondary">{{ views }}</span> times.
{% endblock content %}

<!-- Testing some git things-->