{% extends "physics/base.html" %}



{% block pcontent %}
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-3">{{ title }}</h1>
        {% include 'physics/postnav_macro.html' with posts=toplinks %}
    </div>
    
    
    <p class="text-muted">{{ date}}</p>
    {% for t in topics %}
        <span class="badge bg-secondary">{{ t }}</span>
    {% endfor %}
    <hr/>
    <p> {{ content|safe }}</p>
    Viewed <span class="badge bg-secondary">{{ views }}</span> times.
{% endblock pcontent %}

<!-- Testing some git things-->