{% extends "base.html" %}

{% block title %}
About
{% endblock title %}

{% block customscripts %}
{% load static %}
<link rel="stylesheet" href="{% static "css/timeline.css" %}"/>
{% endblock customscripts %}

{% block content %}
<div class="container-md">

<h1 class="display-3">About</h1>
<p>Hey there! My name is Rémy Moll. I currently live and study in Zurich, Switzerland.</p>


<h4>What I have been up to lately:</h4>

	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			<ul class="timeline">
                {% for event in timeline %}
                    <li>
                        <a target="_blank" href="{{ event.link }}">{{ event.title }}</a>
                        <a href="#" class="float-end"><span class="badge bg-primary">{{ event.date}}</span></a>
                        <p>{{ event.text }}</p>
                    </li>
				{% endfor %}
			</ul>
		</div>
	</div>



<h4>My CV:</h4>
<div class="ratio d-lg-none" style="--bs-aspect-ratio: 140%">
    <iframe src="https://drive.google.com/file/d/16zInNnLaH67y32anXKQ0diW6ro-IAsXh/preview" allow="autoplay"></iframe>
</div>
<div class="ratio d-none d-lg-block" style="--bs-aspect-ratio: 50%">
    <iframe src="https://drive.google.com/file/d/16zInNnLaH67y32anXKQ0diW6ro-IAsXh/preview" allow="autoplay"></iframe>
</div>
<h4>Contact:</h4>
I'd leave you with a fancy form but the easiest way to reach me is probably via mail. You could also have a look at my GitHub profile.
<div class="d-grid gap-2 col-4 mx-auto">
    <a class="btn btn-primary" href="mailto:remoll@ethz.ch">remoll@ethz.ch</a>
    <a class="btn btn-primary" href="https://github.com/moll-re"><i class="fab fa-github"></i> moll-re</a>
</div>
</div>

{% endblock content %}