/*!
Bootstrap colors
*/
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #bd5d38;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #bd5d38;
    --bs-secondary: #00f00c;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

body {
    padding-top: 90px;
  }
  
  @media (min-width: 768px) {
    body {
      padding-top: 0;
    }
  }
  
  @media (min-width: 768px) {
    body {
      margin-left: 232px;
    }
  }
  
  .navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  
  @media (min-width: 768px) {
    .navbar.fixed-left {
      bottom: 0;
      width: 232px;
      /* was flex-start */
    }
    .navbar.fixed-left .container-fluid{
        flex-direction: column;
    }
    .navbar.fixed-left .navbar-collapse {
      flex-grow: 0;
      flex-direction: column;
      width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
      width: 100%;
    }
    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
      top: 0;
    }
  }
  
  @media (min-width: 768px) {
    .navbar.fixed-left {
      right: auto;
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
      border-top: 0.3em solid transparent;
      border-left: 0.3em solid;
      border-bottom: 0.3em solid transparent;
      border-right: none;
      vertical-align: baseline;
    }
    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
      left: 100%;
    }
  }